{% extends 'index.html' %}
{% load static %}
{% block body_block %}
        <!-- Start Banner Area -->

        <!-- Start Error Area  -->
        <div class="error-area bg_image--4 bg-color-grey">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner">
                            <img src="{% static 'assets/images/others/404.png' %}" alt="Error Images">
                            <h1 class="title">Page not found!</h1>
                            <p>بښنه غواړو! کومه پاڼه چی تاسی غواړی ورته داخل شی موجوده نده مهربانی وکړی صحیح ادرس انتخاب کړئ.</p>
                            <div class="back-totop-button cerchio d-inline-block">
                                <a class="axil-button button-rounded hover-flip-item-wrapper" href="{% url 'home' %}">
                                    <span class="hover-flip-item">
                                        <span data-text="بیرته اصلی پاڼی ته لاړ شئ.">بیرته اصلی پاڼی ته لاړ شئ.</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Error Area  -->

        <!-- Start Back To Top  -->
        <a id="backto-top"></a>
        <!-- End Back To Top  -->
{% endblock body_block %}

